.stayRoll{
  border:3px red solid;
}
/*.rollButton{
border:2px gray solid;
}*/
img {
  height:70px;
  width:70px;
  margin:5px;
}

.rollButton{
  margin-bottom:10px;
}

#rollIt{
  font-size: 1.5em;
  margin-top: 20px;
}

.diceCount{
  border:1px black solid;
  background:lightblue;
  padding-bottom: 20px;
}
.btn-success{
  margin-bottom: 40px
}