

.stayRoll{
  border:3px red solid;
}
/*.rollButton{
border:2px gray solid;
}*/
img {
  height:70px;
  width:70px;
  margin:5px;
}

.rollButton, .stayRoll{
  margin-bottom:10px;
  min-height:82px;
}

h3{
  margin-top: 10px
}
#rollIt{
  font-size: 2em;
  margin-top: 20px;
}

.rollingDiv{
  border:1px black solid;
  background:lightgreen;
  padding-bottom: 8px;
  padding-top: 7px;
  margin-bottom: 40px;
}
.diceCount{
  border:1px black solid;
  background:lightblue;
  padding-bottom: 20px;
}
.btn-success{
  margin-bottom: 11px
}

@media only screen and (min-width: 768px) {
    img { 
      height:140px;
  width:140px;
  margin:5px;
        }
    }
